:root

.btn-dark {
margin-top: 10px;
margin-bottom: 10px;
}
.recentCityBtn {
  display: flex;
  color: white;
  background-color: #292b2c;
  text-align: center;
  width: 94%;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 5px;
}
.recent-city {
  margin-top: 20px;
}
#future-forecast {
  padding-bottom: 8rem;
}
#card-container {
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}